@model SGE.Web.Models.Usuario

@{

    ViewBag.Title = "Login";
}
<h3> @Html.ActionLink("Volver", "Index", "Home")</h3>
<div id="Imagen_login" style="background-image:url('/Images/login.jpg'); background-size:cover; height:470px;">
    
    @using (Html.BeginForm("Autorizacion", "Login", FormMethod.Post))
    {
        <form id="form_login" runat="server">
            <div id="Login-div" style="text-align:center; margin-left:370px; margin-right: 470px; background-color:darkgray; opacity:0.8;">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                      <img class="img-rounded" src="~/Images/SGE.png" alt="SGE_login">
                        <h3 id="">Ingreso al sistema</h3>
                        <div class="form-row">
                            <div class="form-group col-md-12">                              
                                <input for="inputlg" type="text" placeholder="Usuario" @Html.EditorFor(model => model.NombreUsuario) />
                               
                                <br />
                                @Html.ValidationMessageFor(model => model.NombreUsuario)
                                <br />
                               
                                <input for="inputlg" type="password" placeholder="Contraseña"  @Html.EditorFor(model => model.Password) />
                            
                                <br />
                                <input type="checkbox" name="Recordar" checked>Recordar Contraseña
                                <label class="field-validation-error">@Html.DisplayFor(model => model.MensajeDeErrorLogueo)</label>
                                <br />
                                <br />
                                <button type="submit" class="btn btn-default btn-lg">Login</button>
                                <button type="reset" class="btn btn-default btn-lg">Borrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    }
</div>


