@model SGE.Entidades.MongoDB.Modelo.ReporteDispositivo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReporteDispositivo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDesde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDesde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaHasta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaHasta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consumo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consumo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Volver", "Index")
</p>
