@using System.Collections.Generic;

@{
    ViewBag.Title = "Hogar";
}

<h2>Estado por dispositivo</h2>

<table class="table table-hover">
    <tr>
        <th>
            Dispositivo
        </th>
        <th>
            Usuario
        </th>
        <th>
            Estado
        </th>
        <th>
            Fecha de activación
        </th>
        <th>
            Consumo último mes
        </th>
    </tr>

    @foreach (var dispositivo in ViewBag.dispositivosEstado) {
    <tr>
        <td>
            @dispositivo.Nombre
        </td>
        <td>
            @dispositivo.Clientes[0].NombreUsuario
        </td>
        <td>
            @if (dispositivo.RegistroDeActivaciones.Count == 0) {
                @dispositivo.Estado
            } else {
                @dispositivo.RegistroDeActivaciones[dispositivo.RegistroDeActivaciones.Count - 1].Estado
            }
        </td>
        <td>
            @if (dispositivo.RegistroDeActivaciones.Count == 0) {
                @Html.Raw("<i>Nunca se encendió<i>")
            } else {
                @dispositivo.RegistroDeActivaciones[dispositivo.RegistroDeActivaciones.Count - 1].FechaDeRegistro.ToShortDateString()
            }
        </td>
        <td>
            @{
                DateTime fDesde = DateTime.Now.AddMonths(-1);
                DateTime fHasta = DateTime.Now;

                @Html.Raw(dispositivo.ObtenerConsumoPeriodo(fDesde, fHasta))
            }
        </td>
    </tr>
    }

</table>