@model SGE.Entidades.Dispositivos.Catalogo

@{
    ViewBag.Title = "Delete";
}

<h2>Borrar</h2>

<h3>Esta seguro de eliminar el dispositivo del Catalogo?</h3>
<div>
    <h4>Catalogo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Administrador.NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Administrador.NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumoEnergia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumoEnergia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdentificadorFabrica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentificadorFabrica)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
