@model IEnumerable<SGE.Entidades.Usuario>
@{
    ViewBag.Title = "Carga de Datos";
}

<h3>Archivo de Dispositivos y Usuarios</h3>

@using (Html.BeginForm("CargarArchivo", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div style="width: 40%; float:left; ">
        <input type="file" name="file" class="filestyle" data-buttonName="btn-primary" data-buttonBefore="true" data-buttonText="Seleccionar..." />
    </div>
    <div style="width: 60%; float:left; ">
        <input type="submit" name="CargarDatos" id="CargarDatos" value="Cargar" class="btn btn-primary" />
        @Html.ActionLink("Restablecer", "Restablecer", null, new { @class = "btn btn-danger" })

    </div>
}


<br />
<br />
<br />

@if (Model != null && Model.Count() > 0)
{

    <table class="table table-hover">
        <tr>
            <th>
                Id
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Password
            </th>
            <th>
                Fecha de Alta
            </th>
            <th>
                Direccion
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.Raw(item.Id)
                </td>
                <td>
                    @Html.Raw(item.Nombre)
                </td>
                <td>
                    @Html.Raw(item.Apellido)
                </td>
                <td>
                    @Html.Raw(item.Password)
                </td>
                <td>
                    @Html.Raw(item.FechaAlta)
                </td>
                <td>
                    @Html.Raw(item.Direccion)
                </td>
            </tr>
        }
    </table>


}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
