@model IEnumerable<SGE.Entidades.Dispositivos.Catalogo>

@{
    ViewBag.Title = "Dispositivos";
}

<h2>Tipos de dispositivos existentes</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConsumoEnergia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdentificadorFabrica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sensores)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Acciones)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsumoEnergia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdentificadorFabrica)
            </td>
            <td>
                @Html.Raw(string.Join(",", item.Sensores.Select(s => s.Descripcion).ToArray()))
            </td>
            <td>
                @Html.Raw(string.Join(",", item.Acciones.Select(s => s.Descripcion).ToArray()))
            </td>
            <td>
                @Html.ActionLink("Agregar", "", "", new { id = item.Id, @class = "agregarLink" })
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

<script>
    $(document).ready(function () {
        $('.agregarLink').click(function (e) {
            e.preventDefault();
            var datos = {
                idCatalogo: e.target.attributes["id"].value,
            };

            $.ajax({
                type: "POST",
                url: "/Cli/Dispositivos/Agregar",
                data: datos,
                success: function (resultado) {
                    if (resultado.success == true) {
                        alert("Dispositivo asociado correctamente!!");
                        location.reload();
                    } else {
                        alert("Error vinculando dispositivo: " + resultado.error);
                    }
                }
            });
        });
    });
</script>